* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(185, 206, 226);
    flex-direction: column;
    gap: 1.3rem;
    user-select: none;
}

.homeSelect {
    background-color: white;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    border-radius: 7px;
}

.homeSelect1 {
    color: black;
    background-color: white;
    width: 9.2rem;
    padding: 2px 5px;
    text-align: center;
    border-radius: 7px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
}

.homeSelect1Toggle {
    background-color: rgb(0, 174, 255);
    color: white;
    transition: all 0.2s ease;
}

.homeHeadline {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(163, 47, 163);
    border: 1px solid white;
    padding: 4px 10px;
    border-left: none;
    border-right: none;
}